body {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

a.anchor {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}

.blue-bg {
  background: #5388CD;
}

.gray-bg {
  background: #f5f5f5;
}

.intro {
  background-image: url('images/us_engage.jpg');
  background-size: cover;
}

@media (max-width: 768px) {
  .intro {
    background-image: url('images/us_engage_mobile.jpg');
  }
}

.pic-break {
  height: 200px;
  background-image: url('images/us_bw_hands.jpg');
  background-size: cover;
}

@media (max-width: 768px) {
  .pic-break {
    background-image: url('images/us_bw_hands_mobile.jpg');
  }
}

.noodles-break {
  height: 50vh;
  background-image: url('images/noodles.jpg');
  background-size: cover;
}

@media (max-width: 768px) {
  .noodles-break {
    height: 450px;
    background-image: url('images/noodles_mobile.jpg');
  }
}

.navbar-title {
  text-align: left;
  float: left;
  margin-left: 20vw;
}

@media (max-width: 768px) {
  .navbar-title {
    margin-left: 5vw;
  }
}

.navbar-links {
  font-size: 20px;
  font-weight: 100;
  line-height: 64px;
  text-align: right;
  margin-right: 20vw;
}

@media (max-width: 768px) {
  .navbar-links {
    margin-right: 5vw;
  }
}

.navbar-links a:link {
  text-decoration: none;
  color: white;
}

.navbar-links a:visited {
  text-decoration: none;
  color: white;
}

.navbar-links a:active {
  text-decoration: none;
  color: white;
}

.navbar-links a:hover {
  cursor: pointer;
  color: whitesmoke;
}

@media (max-width: 768px) {
  .navbar-links a {
    display: none;
  }
}

.transparent-gray-bg {
  background: rgba(83, 136, 205, .7);
}

.flex-center {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
}

.indented-text {
  padding-left: 24px;
}

.navbar {
  width: 100%;
  background: #5388CD;
  position: fixed;
  top: 0;
}

.row {
  width: auto;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

#home .view {
  height: 100vh;
}

.content-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.content {
  width: 60vw;
  max-width: 1140px;
  text-align: left;
}

@media (max-width: 768px) {
  .content {
    width: 90vw;
  }
}

.black-text {
  color: #000;
}

.white-text {
  color: #fff;
}

#home p, .title {
  font-weight: 100;
}

/*Fixed background*/
.fixed-bg {
  background: url("https://mdbootstrap.com/images/regular/work/img%20(1).jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 55vh;
}

main {
  margin-bottom: -20px;
}

/* LEGACY HOME */

.homeCardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.homeCard {
  /*flex: 1;*/
  margin: 12px;
  width: calc(50% - 24px);
  float: left;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 768px) {
  /* For mobile phones: */
  .homeCard {
    width: 100%;
  }
}

.invitationContainer {
  float: left;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 50%;
  align-content: stretch;
  transition: width .1s;
}

.invitation {
  flex: 1;
  flex-grow: 0;
}

/*** ADMIN CSS ***/

.editBoxContainer {
  float: left;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 50%;
  align-content: stretch;
  text-align: left;
}

.editInvitation, .editControls {
  margin: 12px;
  padding: 12px;
  flex: 1 100%;
}

.editGuest {
  margin: 12px;
  padding: 12px;
  flex: 1 auto;
}

.loginContainer {
  display: flex;
  justify-content: center;
}

.loginPaper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
  width: 20%;
  padding: 20px;
}

.fullWidth {
  width: 100% !important;
}

/* unvisited link */
.rsvpLink:link {
  color: white;
}

/* visited link */
.rsvpLink:visited {
  color: white;
}

/* mouse over link */
.rsvpLink:hover {
  color: white;
}

/* selected link */
.rsvpLink:active {
  color: white;
}

.accessCodeContainer {
  display: flex;
  justify-content: center;
}

.accessCode {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
  width: 20%;
  padding: 20px;
}

.rsvpGuestContainer {
  display: flex;
  justify-content: center;
}

.rsvpGuest {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
  width: 20%;
  padding: 20px;
}