.App {
  text-align: center;
}

/*.App-logo {*/
/*animation: App-logo-spin infinite 20s linear;*/
/*height: 80px;*/
/*}*/

/*.App-header {*/
/*background-color: #222;*/
/*height: 50px;*/
/*padding: 20px;*/
/*color: white;*/
/*}*/

/*.App-intro {*/
/*font-size: large;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*from { transform: rotate(0deg); }*/
/*to { transform: rotate(360deg); }*/
/*}*/

.editBoxContainer {
  float: left;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 50%;
  align-content: stretch;
  text-align: left;
}

.editInvitation, .editControls {
  margin: 12px;
  padding: 12px;
  flex: 1 100%;
}

.editGuest {
  margin: 12px;
  padding: 12px;
  flex: 1 auto;
}

.fullWidth {
  width: 100% !important;
}

.homeCardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.homeCard {
  /*flex: 1;*/
  margin: 12px;
  width: calc(50% - 24px);
  float: left;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 768px) {
  /* For mobile phones: */
  .homeCard {
    width: 100%;
  }
}

.invitationContainer {
  float: left;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 50%;
  align-content: stretch;
  transition: width .1s;
}

.invitation {
  flex: 1;
  flex-grow: 0;
}

.loginContainer {
  display: flex;
  justify-content: center;
}

.loginPaper {
  margin: 24px;
  width: 20%;
}